<div class="page-header">
  <h1>About Us</h1>
</div>

<!--
  http://i.imgur.com/MQL7U0V.jpg
  http://i.imgur.com/yhBYeDV.jpg
  http://i.imgur.com/i0uf3YQ.jpg
-->
<div class="col-sm-6">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000" style="margin-top:2em">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
   
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://i.imgur.com/MQL7U0V.jpg" alt="...">
        <div class="carousel-caption">
            <h3>Great Atmosphere</h3>
        </div>
      </div>
      <div class="item">
        <img src="http://i.imgur.com/yhBYeDV.jpg" alt="...">
        <div class="carousel-caption">
            <h3>Private Rooms</h3>
        </div>
      </div>
      <div class="item">
        <img src="http://i.imgur.com/i0uf3YQ.jpg" alt="..." style="height:405px">
        <div class="carousel-caption">
            <h3>Purple Fox Karaoke Pub</h3>
        </div>
      </div>
    </div>
  </div> <!-- Carousel -->
</div>

<div class="col-sm-6">
  <h4>Purple Fox Karaoke Pub</h4>
  <p>The pub has 10 designated karaoke rooms. These rooms can be booked Monday thru Thursday 4 pm to 1am and on Fridays, Saturdays and Sundays 2 pm to 2am.</p>
  <p>Two of the rooms has the capacity to accommodate 2 persons, this room is referred to as the Fox Double. Three of the rooms has the capacity to accommodate 4 persons, this room is referred to as the Fox Quad. Three of the rooms has the capacity to accommodate 8 persons, this room is referred to as the Fox Grande. Two of the rooms has the capacity to accommodate 12 persons,this room is referred to as the Fox Énorme.</p>
  <p>These rooms can be booked by any patron and for any duration. However, a party of 2 book can only book a Fox Double. If no Fox Double's are available, they will have the option to book a Fox Quad but they will have to purchase the room at full price. This principle applies for all category of bookings as well.</p>
  <p>The Fox Double comes equipped with 1 microphone and 1 Apple iPad. The Fox Quad comes equipped with 2 microphone and 2 Apple iPad. The Fox Grande comes equipped with 4 microphone and 4 Apple iPad. The Fox Énorme comes equipped with 6 microphone and 6 Apple iPad. Each room comes with a limited amount of accessories, however patrons may purchase additional accessories during the time of their booking. The pub has 10 additional microphones and 10 additional iPad’s that are booked on a first come basis.</p>
</div>