<!-- availability.html -->
<head >
<link rel="stylesheet" type="text/css" href="main.css">
</head>
<div class="page-header" ng-init="availability.getAvailability(availability.date)" >
  <h1>Availability</h1>
</div>

    <div class="row" >
      <div class="col-sm-6">
        <div class="form-group">
            <label for="date">Date</label>
           <input type="date" min="{{ availability.initDate | date: 'yyyy-MM-dd' }}" max="{{ availability.maxDate | date: 'yyyy-MM-dd' }}" class="form-control" ng-model="availability.date" ng-change="availability.getAvailability(availability.date)"> 
        </div>
      </div>

      <div class="col-sm-6">
          <br>
          <a href="/bookings/create"><button class="btn btn-success" style="float: right">Book Now</button></a>
      </div>
    </div>

<div ng-if="(availability.date | date: 'EEE') == 'Mon' || 
                                    (availability.date | date: 'EEE') == 'Tue' ||
                                    (availability.date | date: 'EEE') == 'Wed' ||
                                    (availability.date | date: 'EEE') == 'Thu'">
<table class="table table-bordered table-striped">
  <thead>
    <tr style="background-color: #95a5a6; text-align: center">
      <th>Room<br>(Capacity)</th>
      <th ng-repeat="obj in availability.bookings">{{ obj.room.name }}<br>( {{ obj.room.capacity }} )</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="time in ['4:00 PM', '4:30 PM', '5:00 PM', '5:30 PM', '6:00 PM', '6:30 PM', '7:00 PM', '7:30 PM', '8:00 PM', '8:30 PM', '9:00 PM', '9:30 PM', '10:00 PM', '10:30 PM', '11:00 PM', '11:30 PM', '12:00 AM', '12:30 AM']">
      <td id="nopad">{{ time }}</td>
      <td ng-repeat="booklist in availability.bookings" id="nopad">
        <div ng-repeat="singlebook in booklist.bookings">
          <div ng-if="!availability.isAvailable(singlebook, time)" style="background-color: #c0392b">X</div>
          <!-- <div ng-if="availability.isAvailable(singlebook, time)" onclick="location.href='/bookings/create';" id="mouseover">BOOK</div> -->
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div ng-if="(availability.date | date: 'EEE') == 'Fri' || 
                                    (availability.date | date: 'EEE') == 'Sat' ||
                                    (availability.date | date: 'EEE') == 'Sun'">
<table class="table table-bordered table-striped">
  <thead>
    <tr style="background-color: #95a5a6; text-align: center">
      <th>Room<br>(Capacity)</th>
      <th ng-repeat="obj in availability.bookings">{{ obj.room.name }}<br>( {{ obj.room.capacity }} )</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="time in availability.hrTimes">
      <td id="nopad">{{ time }} </td>
      <td ng-repeat="booklist in availability.bookings" id="nopad">
        <div ng-repeat="singlebook in booklist.bookings">
          <div ng-if="!availability.isAvailable(singlebook, time)" style="background-color: #c0392b">X</div>
          <!-- <div ng-if="availability.isAvailable(singlebook, time)" onclick="location.href='/bookings/create';" id="mouseover">BOOK</div> -->
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
