<!-- availability.html -->
<div class="page-header">
  <h1>Availability</h1>
</div>

  <form ng-submit="user.sendBooking()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
                <label for="date">Date</label>
               <input type="date" min="{{booking.date | date: 'yyyy-MM-dd'}}"class="form-control" ng-model="booking.bookingData.date"> 
            </div>
          </div>
        </div>
  </form>
  <button ng-click="availability.getAvailability('2015-07-08')">Do stuff</button>



<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Room</th>
      <th ng-repeat="obj in availability.bookings">{{ obj.room.name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr></tr>
  </tbody>
</table>





