<!-- booking.html -->
    <div class="container">
    	<div class="page-header">
    		<h1>Create Booking</h1>
    	</div>

    	<form ng-submit="booking.saveBooking()">
            <div class="row">
        		<div class="col-sm-6">
        			<div class="form-group">
        				<label for="people">Number of People</label>
        				<select name="Number of People" class="form-control" ng-model="booking.bookingData.people">
        					<option value="1">1</option>
        					<option value="2">2</option>
        					<option value="3">3</option>
        					<option value="4">4</option>
        				</select>
        			</div>

        			<div class="form-group">
        				<label for="room">Room</label>
        				<select name="Room" class="form-control" ng-model="booking.bookingData.room">
        					<option ng-repeat="room in booking.rooms | filter: {available: true}" value="{{room.name}}">{{room.name}} [Capacity: {{room.capacity}}]</option>
        				</select>
        			</div>

        			<div class="form-group">
        				<label for="date">Date</label>
        				<input type="date" class="form-control" ng-model="booking.bookingData.date">
        			</div>

        			<div class="form-group">
        				<label for="start">Start Time</label>
        				<input type="time" class="form-control" ng-model="booking.bookingData.start">
        			</div>

        			<div class="form-group">
        				<label for="end">End Time</label>
        				<input type="time" class="form-control" ng-model="booking.bookingData.end">
        			</div>

        			<div class="form-group">
        				<label for="equip">Additional Equipment</label>
        				<select name="Equipment" class="form-control" ng-model="booking.bookingData.equip">
        					<option value="1">1</option>
        					<option value="2">2</option>
        				</select>
        			</div>

                    <div class="container">
                        <button type="submit" class="btn btn-default">Times don't work?</button>
        			</div>
        		</div>

                <div class="col-sm-6">
                    <!-- bookings-calendar goes here --> 
                </div>

            </div>

            <div class="row">
                <div class="container" style="padding-top:15px">
                        <button type="submit" class="btn btn-success">Book</button>
                </div>
            </div>
    	</form>
    </div>



<div ng-controller="TimepickerDemoCtrl">

	  <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

	  <pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>

	  <div class="row"> 
	    <div class="col-xs-6">
		Hours step is:
	      <select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
	    </div>
	    <div class="col-xs-6">
		Minutes step is:
	      <select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
	    </div>
	  </div>

	  <hr>

	  <button class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
	  <button class="btn btn-default" ng-click="update()">Set to 14:00</button>
	  <button class="btn btn-danger" ng-click="clear()">Clear</button>

</div>


