<div align="center">

	<div class="container" ng-if="!booking.deleted">
		<h3>Are you sure you would like to delete this booking?</h3>
		<form ng-submit="booking.deleteBooking()">
			<br/>
			<input type="password" class="form-control" style="width:300px"placeholder="Enter your password" ng-model="main.password">
			<br/>
			<button type="submit" class="btn btn-danger">Delete</button>
			<a href="/{{ main.user._id }}/bookings"><button class="btn btn-default">Cancel</button></a>
		</form>
	</div>
	
	<div class="container" ng-if="booking.deleted">
		<h3>Booking Successfully Deleted</h3>
		</br>
		<a href="/"><button class="btn btn-default">Go Home</button></a>
	</div>

</div>