<div align="center">

	<div class="container" ng-if="!user.deleted">
		<h3>Are you sure you would like to delete {{ user.username }}?</h3>
		<form ng-submit="user.deleteUser()">
			<br/>
			<button type="submit" class="btn btn-danger">Delete</button>
			<a href="/{{ main.user._id }}/"><button class="btn btn-default">Cancel</button></a>
		</form>
	</div>
	
	<div class="container" ng-if="user.deleted">
		<h3>User Successfully Deleted</h3>
		</br>
		<a href="/"><button class="btn btn-default">Go Home</button></a>
	</div>

</div>
