<!-- home.html -->

<!-- HEADER -->
<header style="text-align: center; margin:5%">
  <h1 style="font-size: 6em">Purple Fox Karaoke Club</h1>

  <img id="logo" style="max-height: 10em" alt="Brand" src="http://i.imgur.com/xIFrwUi.png">
</header>


<div class="container" style="width:50%">

	<div class="row" align="center">
	  <div class="col-xs-6">
	  	<a href="/availability/" type="button" class="btn btn-block btn-default btn-lg">Availability</a>
	  	<a href="/booking/" type="button" class="btn btn-block btn-default btn-lg">Booking</a>
	  </div>
	  <div class="col-xs-6">
			<a href="/users/" type="button" class="btn btn-block btn-default btn-lg">Administrator</a>
			<a href="/users/{{ main.user._id }}/" type="button" class="btn btn-block btn-default btn-lg">Profile</a>
	  </div>
	</div>

</div>
