<!-- register.html -->






    <div class="container">
        <h1>Register</h1>
    	</br>

        <form>
        	<div class="col-sm-6">
				<div class="form-group">
				  	<label for="name">Name</label>
				    <input type="name" class="form-control" placeholder="First and Last">
				</div>
				<div class="form-group">
				  	<label for="username">Username</label>
				    <input type="username" class="form-control" placeholder="Username">
				</div>
				<div class="form-group">
				  	<label for="password">Password</label>
				    <input type="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-group">
				  	<label for="confirmPass">Confirm Password</label>
				    <input type="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-group">
				  	<label for="email">Email Address</label>
				    <input type="email" class="form-control" placeholder="Email">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="bday">Birthday</label>
					<input type="birthday" class="form-control" placeholder="Birthday">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Home Address</label>
					<input type="Address" class="form-control" placeholder="Home Address">
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input type="City" class="form-control" placeholder="City">
				</div>
				<div class="form-group">
					<label for="postalCode">Postal Code</label>
					<input type="Postal Code" class="form-control" placeholder="Postal Code">
				</div>
				<div class="form-group">
					<label for="phoneNum">Phone Number</label>
					<input type="Phone Number" class="form-control" placeholder="Phone Number">
				</div>

			</div>

			<div style="text-align:center" >
		  		<button type="submit" class="btn btn-default">Register</button>
		  	</div>
		</form>

    </div>