
<div class="page-header">
	<h1 ng-if="user.type == 'create'">Register</h1>
	<h1 ng-if="user.type == 'edit'">Edit User</h1>
</div>

<div ng-if="!user.complete">
  
	<form name="userForm" ng-submit="user.saveUser()" novalidate>
    	<div class="row">
        	<div class="col-sm-6">

				<div class="form-group">
				  	<label class="control-label">Name</label>
				    <input type="text" class="form-control" placeholder="First and Last" ng-model="user.userData.name">
				</div>



				<div class="form-group" ng-if="user.type == 'create'">
				  	<label for="username">Username</label>
				    <input type="text" class="form-control" placeholder="Username" ng-model="user.userData.username">

				</div>



				<div class="form-group" ng-if="user.type == 'create'">
				  	<label for="password">Password</label>
				    <input type="password" class="form-control" placeholder="Password" ng-model="user.userData.password">
				</div>


				<div class="form-group" ng-if="user.type == 'create'">
				  	<label for="confirmPass">Confirm Password</label>
				    <input type="password" class="form-control" placeholder="Password">
				</div>





				<div class="form-group" show-errors='{ showSuccess: true }' show-errors>
				  	<label for="email">Email Address</label>
				    <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.userData.email" required>
				    <p class="help-block" ng-if="userForm.email.$error.required">The user's email is required</p>
      				<p class="help-block" ng-if="userForm.email.$error.email">The email address is invalid</p>
				</div>

				<div ng-if="user.type == 'edit'">
			  		<a href="/editPass"><button class="btn btn-default">Login</button></a>
			  	</div>



			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="phoneNum">Phone Number</label>
					<input type="tel" class="form-control" placeholder="Phone Number" ng-model="user.userData.phone_number">
				</div>
				<div class="form-group">
					<label for="bday">Birthday</label>
					<input type="date" class="form-control" ng-model="user.userData.age">
				</div>

				<!-- ADDRESS CURRENTLY ONLY HOLDS Home Address -->
				<div class="form-group">
					<label for="exampleInputEmail1">Home Address</label>
					<input type="text" class="form-control" placeholder="Home Address" ng-model="user.userData.address">
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input type="text" class="form-control" placeholder="City">
				</div>
				<div class="form-group">
					<label for="postalCode">Postal Code</label>
					<input type="text" class="form-control" placeholder="Postal Code">
				</div>
			</div>
		</div>
		<div ng-if="user.isAdmin">			
			<div class="checkbox">
 				 <label><input type="checkbox" ng-model="user.userData.isAdmin">Make user an administrator</label>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div ng-if="user.type == 'create'">
			  		<button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid">Register</button>
			  	</div>
			  	<div ng-if="user.type == 'edit'">
			  		<button type="submit" class="btn btn-success">Save Changes</button>
			  		<a href="/{{ user.userData._id }}"><button class="btn btn-default">Cancel</button></a>
			  	</div>
			</div>
		</div>
	</form>
	
</div>


<!-- displayed once user has submitted the form-->
<div ng-if="user.complete">
	<div ng-if="user.type == 'create'">
  		<h3>User Registered</h3>
  		<a href="/login"><button class="btn btn-default">Login</button></a>
  	</div>
  	<div ng-if="user.type == 'edit'">
  		<h3>Changes Saved</h3>	
  		<a href="/{{ user.id }}"><button class="btn btn-default">Profile</button></a>
  	</div>
</div>
