<!-- single.html -->
    <div class="container">
        <div class="page-header">
        	<h1>Profile Page</h1>
        </div>

        <p>TEST Paragraph</p>
        <p> {{ user.name }} </p>


        <dl>
        	<dt>Name</dt>
        	<dd>{{ user.userData.name }}</dd>
        	<dt>Username</dt>
        	<dd>{{ user.userData.username }}</dd>
            <dt>Email</dt>
            <dd>{{ user.userData.email }}</dd>            
        	<dt>Birthday</dt>
        	<dd>{{ user.userData.bday }} </dd>
        	<dt>Address</dt>
        	<dd>{{ user.userData.address }}</dd>
        	<dt>Phone Number</dt>
        	<dd>{{ user.userData.phone_number }}</dd>
        </dl>

        <div class="container">
        	<a class="btn btn-default" href="users/single/edit">Edit Profile</a>
        	<a class="btn btn-default" href="users/single/delete">Delete Account</a>
        	<a class="btn btn-default" href="users/single/bookings">Your Bookings</a>
        </div>
      
    </div>